#macro(showPage $pageUrl)
    <div class="page">
        <div class="fl">
	        <span style="color:#fff">每页显示</span>&nbsp;
	        <select id="page-pageSize" style="width:auto" onchange="query(1, '$!pageUrl');">
	        	<option value="20" #if($!pageSize==20) selected="selected" #end>20条</option>
	            <option value="50" #if($!pageSize==50) selected="selected" #end>50条</option>
	        </select>
        </div>
        <div class="fr">
            <span class="numbers">
	            #if($pageIndex > 1)
	                <a class="pre" href="javascript:void(0);" onclick="query($!pageIndex - 1,'$!pageUrl');">上一页</a>
	                <a href="javascript:void(0);" onclick="query(1,'$!pageUrl');">1</a>
	            #end
                #set($pagePos = 2) ##当前页的尾巴长度
                #if($!pageIndex > $pagePos+2) <a>...</a> #end ##显示前面的省略号
                #foreach($i in [$pagePos..1]) ##增加前面的尾巴
                    #if($!pageIndex - $!i > 1)
                        #set($tempPageIndex = $!pageIndex - $i)
                        <a href="javascript:void(0);" onclick="query($tempPageIndex,'$!pageUrl')">$tempPageIndex</a>
                    #end
                #end
                <a class="current">$!pageIndex</a> ##显示当前页号
                #foreach($i in [1..$pagePos]) ##增加后面的尾巴
                    #if($!totalPage - $!pageIndex - $!i > 0)
                        #set($tempPageIndex = $!pageIndex + $!i)
                        <a href="javascript:void(0);" onclick="query($tempPageIndex,'$!pageUrl')">$tempPageIndex</a>
                    #end
                #end
                #if($!totalPage - $!pageIndex > $pagePos+1) <a>...</a> #end ##显示后面的省略号
                #if($!pageIndex < $!totalPage)
                	<a href="javascript:void(0);" onclick="query($!totalPage,'$!pageUrl')">$!totalPage</a>
                	<a href="javascript:void(0);" onclick="query($!pageIndex+1,'$!pageUrl')">下一页</a>
                #end
            </span>
            <span class="goto">
                <span style="color:#fff">共$!totalPage页, $!totalNum条记录 到第 <input id="goto" type="text" value="" style="width:50px;"> 页</span>　
                <a class="btn btn-search" href="javascript:void(0);" onclick="gotoPage($!totalPage,'$!pageUrl')">GO</a>
            </span>
        </div>
    </div>
#end