<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

	<!-- MYSQL 数据库 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${db.jdbc.driver}" />
		<property name="url" value="${db.jdbc.url}" />
		<property name="username" value="${db.jdbc.username}" />
		<property name="password" value="${db.jdbc.password}" />
	</bean>

</beans>
